<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-ios-permissions" version="1.1.1">
	<name>Cordova iOS Permissions</name>
	<description>Experimental plugin to prevent crashes in iOS apps due to missing entries in the plist file.</description>
	<license>MIT</license>
	<repo>https://github.com/MBuchalik/cordova-plugin-ios-permissions</repo>

	<platform name="ios">
		<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
			<string>This app needs access to the camera so that you can take pictures. You can use these pictures as attachments or upload them to our cloud service.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
			<string>This app needs access to the photo library to pick images.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
			<string>This app needs access to the photo library to store images.</string>
		</config-file>
		<resource-file src="src/ios/de.lproj" />
	</platform>
</plugin>
